__pycache__/
*.py[cod]
.env
venv/
env/
*.venv
*.env
pip-log.txt
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.log
*.swp
*.swo
*.tmp
*.bak
*.cache
*.pyc
*.pyd
*.so
*.dll
*.exe
dist/
build/
*.egg-info/